@import "tailwindcss";

@theme {
  /* Our 'Vault' Emerald Green */
  --color-security-ok: #10b981; 
  /* Our 'Telegram' Deep Blue */
  --color-brand: #0088cc;
  /* Dark Backgrounds */
  --color-vault-bg: #0f172a;
  --color-vault-card: #1e293b;
}

:root {
  background-color: var(--color-vault-bg);
  color: white;
}